<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap">
    <title>Login</title>
</head>

<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Olá, colaborador!<br>Faça seu Login</h1>
            <img src="/css/imagens/balaoes.svg" class="left-login-image" alt="Crianças com balões animação">

        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Login</h1>
                
                <form action="/index" method="POST">
                    <div class="textfield">
                        <label for="username">Usuário</label>
                        <input type="text" name="username" placeholder="Usuário" required>
                    </div>
                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" name="senha" placeholder="Senha" required>
                    </div>
                    <h2>
                        <a href="/recuperar">Esqueceu a senha?</a>
                    </h2>
                    <button type="submit" name="submit" class="btn-login" title="Entrar">Login</button>
                </form>
                
            </div>
        </div>
    </div>
</body>

</html>