<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap">
    <title>Recuperação de Senha</title>
</head>

<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Olá, esqueceu a sua senha?<br>Que pena! Recupere-a</h1>
            <img src="/css/imagens/decision-fatigue-animate.svg" class="left-login-image"
                alt="Crianças com balões animação">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Recuperação de Senha</h1>
                <div class="textfield">
                    <label for="email">Endereço de E-mail</label>
                    <input type="email" name="email" placeholder="E-mail">
                </div>
                <p>Informe seu endereço de e-mail registrado e enviaremos as instruções para a recuperação da sua senha.
                </p>
                <button class="btn-login" onclick="requestPasswordReset()">Enviar Instruções</button>
                <h2>
                    <a href="/voltar">Voltar para o Login</a>
                </h2>
            </div>
        </div>
    </div>
</body>
</html>